<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>

   <h1>Results</h1>
   <p>Your choice of weapons was: <%= player %></p>
   <p>The computer chose: <%= cpu %></p>
   <h2>The winner is: <%= winner %></h2>
   
   <br><br>
   <button><a href='/'>Play Again... yuo know you want to</a></button>
</body>
</html>