<!DOCTYPE html>
<html lang="en">
<head>
   <title>Log In as Admin</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="css/personal.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<script>
   function back()
   {
      document.location = '/';
   }
</script>
<body>
   
   <div class="psych center">
      <br>
      <h2 class="center">Log In</h2>
      <ul>
         <li><a onclick="back()">Back</a></li>
      </ul>
   </div>


   <div id="episode details" class="center">
      <br><br>
      <form action="" method="">
         Username: <input type="text" name="username" required>
         <br>
         Password: <input type="password" name="pass" required>
         <br><br>
         <input type="submit" value="Log In">
      </form>
   </div>
</body>
</html>