<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>

   <h1>Results</h1>
   <p>The type of mail is <%= type %></p>
   <p>The weight of your mail is <%= weight %></p>
   <h2>The total amount of money is $<%= amount %></h2>
   
   <br><br>
   <button><a href='/'>Calculate Again</a></button>
</body>
</html>